
.modal-deposit {
    width: 475px;
    min-height: 650px;
}

.department-type {
    
    .css-1u9des2-indicatorSeparator {
        display: none;
    }
    
    input {
        box-shadow: none;
        height: 46px;
    }
}