.custom-select__dropdown-indicator {
  transform: translateX(-10px);
}
.custom-select_sidebar__dropdown-indicator {
  transform: translateX(-50px);
}

.display-flex {
  display: flex;
}

// .flex-col {
//   flex-direction: column;
// }

.text-right {
  text-align: right;
}

.ml-auto {
  margin-left: auto;
}
